# Telegram Bot Token (@BotFather dan olingan)
BOT_TOKEN=123456789:ABCdefGhIJKlmNoPQRsTUVwxyZ

# Web App ishga tushgan Domen manzili (Render, Koyeb yoki Ngrok)
WEBAPP_URL=https://your-app-name.koyeb.app

# Server porti (odatda Render / Koyeb o'zi taqdim etadi)
PORT=8000
HOST=0.0.0.0
